name: Start-Restart Selfhosted Runner
on:
  workflow_dispatch:

jobs:
  run-crave-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure Crave
        run: |
          mkdir -p ${HOME}/bin/
          curl -s https://raw.githubusercontent.com/accupara/crave/master/get_crave.sh | bash -s --
          mv ./crave ${HOME}/bin/
          sudo ln -sf ${HOME}/bin/crave /usr/bin/crave
          echo "{\"username\": \"${{ secrets.CRAVE_USERNAME }}\", \"token\": \"${{ secrets.CRAVE_TOKEN }}\"}" > crave.conf
        env:
          CRAVE_USERNAME: ${{ secrets.lummydummy43@gmail.com }}
          CRAVE_TOKEN: ${{ secrets.eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjEyODUsInRlYW1JZCI6MTQsImlzQXBpS2V5Ijp0cnVlLCJpYXQiOjE3NzA4MjcwMTR9.lXwv3xMbIGm1vo63HBY_5uf2pUICBLH_hUubvk8qqj0 }}

      - name: Run crave runner
        run: |
          crave ${{ secrets.CRAVE_FLAGS }} run --no-patch -- "
          echo 'Looking for runner...'
          if [ -d actions-runner ] ; then
            echo 'Runner found! Starting...'
            tmux kill-session -t ghactions || true
            tmux new-session -d -s ghactions 'cd actions-runner && ./run.sh'
            sleep 10
            echo 'Runner successfully pushed to background.'
          else
            echo 'Error: actions-runner folder not found. Run configure-runner.yml first!'
            exit 1
          fi"
